In [3]:
import warnings 
warnings.filterwarnings('ignore')

In [4]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [62]:
leads_df = pd.read_csv('Leads.csv')
leads_df.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [7]:
leads_df.columns

Index(['Prospect ID', 'Lead Number', 'Lead Origin', 'Lead Source',
       'Do Not Email', 'Do Not Call', 'Converted', 'TotalVisits',
       'Total Time Spent on Website', 'Page Views Per Visit', 'Last Activity',
       'Country', 'Specialization', 'How did you hear about X Education',
       'What is your current occupation',
       'What matters most to you in choosing a course', 'Search', 'Magazine',
       'Newspaper Article', 'X Education Forums', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Courses', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'Asymmetrique Activity Index',
       'Asymmetrique Profile Index', 'Asymmetrique Activity Score',
       'Asymmetrique Profile Score',
       'I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity'],
      dtype='object')

In [8]:
leads_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   4473 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    5022 non-null   object
 31  Asymmetrique Profile Index                     5022 non-null   object
 32  Asymmetrique Activity Score                    5022 non-null   float64
 33  Asymmetrique Profile Score                     5022 non-null   float64
 34  I agree to pay the amount through cheque       9240 non-null   object
 35  A free copy of Mastering The Interview         9240 non-null   object
 36  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [11]:
# There are 9240 entries lets check the uniqueness of Prospect ID vs Lead Number
print(leads_df['Prospect ID'].value_counts().sum())
print(leads_df['Lead Number'].value_counts().sum())

9240
9240

In [63]:
# So both are unique but Lead Number is an int64, from now considered as a unique entry
# Dropping Prospect ID
leads_df.drop(['Prospect ID'], axis=1, inplace=True)
leads_df.head()

,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,660737,API,Olark Chat,No,No,0,0.0,0,0.0,Page Visited on Website,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [16]:
# Leads Origin
print(leads_df['Lead Origin'].value_counts())
# All Seems to be in Place

Landing Page Submission    4886
API                        3580
Lead Add Form               718
Lead Import                  55
Quick Add Form                1
Name: Lead Origin, dtype: int64

In [22]:
# Lead Source Null Value %age
leads_df['Lead Source'].isnull().sum()/leads_df.shape[0]*100
# It is very small but it is a very important metric

0.38961038961038963

In [64]:
leads_df['Lead Source'].value_counts()

Google               2868
Direct Traffic       2543
Olark Chat           1755
Organic Search       1154
Reference             534
Welingak Website      142
Referral Sites        125
Facebook               55
bing                    6
google                  5
Click2call              4
Press_Release           2
Social Media            2
Live Chat               2
youtubechannel          1
testone                 1
Pay per Click Ads       1
welearnblog_Home        1
WeLearn                 1
blog                    1
NC_EDM                  1
Name: Lead Source, dtype: int64

In [24]:
#Looking at Entries with null value in Lead Source
leads_df[leads_df['Lead Source'].isnull()]

,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
836,651660,Lead Add Form,NaN,Yes,No,1,NaN,1378,NaN,Email Bounced,...,No,Select,Select,02.Medium,02.Medium,14.0,16.0,No,No,Modified
1569,643899,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,02.Medium,02.Medium,14.0,16.0,No,No,SMS Sent
1746,642394,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,02.Medium,02.Medium,15.0,16.0,No,No,Modified
2020,640115,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,02.Medium,02.Medium,15.0,16.0,No,No,SMS Sent
2025,640081,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,02.Medium,02.Medium,15.0,16.0,No,No,SMS Sent
2152,639134,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,02.Medium,02.Medium,14.0,16.0,No,No,SMS Sent
2346,637125,Lead Add Form,NaN,Yes,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,02.Medium,02.Medium,14.0,16.0,No,No,SMS Sent
2544,635028,Lead Import,NaN,No,No,0,0.0,0,0.0,Email Opened,...,No,Select,Select,02.Medium,02.Medium,14.0,15.0,No,No,Email Opened
2601,634618,Quick Add Form,NaN,Yes,No,1,NaN,2217,NaN,Email Bounced,...,No,Select,Other Metro Cities,02.Medium,02.Medium,14.0,13.0,No,No,Modified
2676,633945,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Potential Lead,Other Cities of Maharashtra,NaN,NaN,NaN,NaN,No,No,SMS Sent
3028,630801,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
3266,628685,Landing Page Submission,NaN,No,No,1,2.0,9,2.0,SMS Sent,...,No,Select,Mumbai,NaN,NaN,NaN,NaN,No,No,SMS Sent
3268,628666,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
3928,622403,Lead Add Form,NaN,Yes,No,0,NaN,44,NaN,Email Bounced,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,Modified
3945,622280,Lead Add Form,NaN,Yes,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
4406,617520,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
4409,617495,Lead Add Form,NaN,No,No,0,0.0,0,0.0,Email Opened,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,Email Opened
4605,615643,Lead Add Form,NaN,Yes,No,0,NaN,156,NaN,Email Bounced,...,No,Select,Select,02.Medium,02.Medium,15.0,16.0,No,No,Modified
4653,615069,Lead Add Form,NaN,Yes,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
4804,613917,Lead Add Form,NaN,No,No,1,0.0,0,0.0,Email Opened,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,Email Opened
4831,613660,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,Modified
4843,613583,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
5253,609475,Lead Add Form,NaN,Yes,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
5621,606860,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Potential Lead,Thane & Outskirts,NaN,NaN,NaN,NaN,No,No,SMS Sent
5840,605099,Lead Add Form,NaN,No,No,1,NaN,506,NaN,NaN,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,Modified
5960,604134,Lead Add Form,NaN,Yes,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
6124,602759,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,NaN,NaN,NaN,NaN,No,No,SMS Sent
7302,593400,Lead Add Form,NaN,Yes,No,0,NaN,926,NaN,Email Bounced,...,No,Select,Select,02.Medium,02.Medium,15.0,16.0,No,No,Modified
7306,593374,Lead Add Form,NaN,Yes,No,1,0.0,0,0.0,SMS Sent,...,No,Select,Select,02.Medium,02.Medium,14.0,16.0,No,No,SMS Sent
7525,591848,Lead Add Form,NaN,Yes,No,1,0.0,0,0.0,Unsubscribed,...,No,Potential Lead,Mumbai,02.Medium,02.Medium,15.0,16.0,No,No,Unsubscribed
7847,589591,Lead Add Form,NaN,No,No,0,NaN,289,NaN,NaN,...,No,Select,Select,02.Medium,02.Medium,13.0,16.0,No,No,Modified
8092,587995,Lead Add Form,NaN,No,No,1,0.0,0,0.0,Email Opened,...,No,Select,Select,02.Medium,02.Medium,14.0,16.0,No,No,Email Opened
8118,587880,Lead Add Form,NaN,No,No,1,0.0,0,0.0,SMS Sent,...,No,Potential Lead,Select,02.Medium,01.High,14.0,17.0,No,No,SMS Sent
8276,586678,Lead Add Form,NaN,No,No,1,0.0,0,0.0,Email Opened,...,No,Select,Select,02.Medium,02.Medium,15.0,16.0,No,No,Modified
8490,584932,Lead Add Form,NaN,No,No,0,0.0,0,0.0,SMS Sent,...,No,Select,Select,02.Medium,02.Medium,13.0,16.0,No,No,SMS Sent
9160,580221,Lead Add Form,NaN,Yes,No,1,0.0,0,0.0,Unsubscribed,...,No,Potential Lead,Select,02.Medium,01.High,14.0,17.0,No,No,Unsubscribed

In [26]:
# Since the conversion Rate is more than 80% we cannot ignore the data
leads_df[leads_df['Lead Source'].isnull()].Converted.mean()*100

80.55555555555556

In [65]:
# Changing NaN Values to Unknown
leads_df['Lead Source'].replace(np.nan,'Unknown',inplace=True)
leads_df['Lead Source'].value_counts()

Google               2868
Direct Traffic       2543
Olark Chat           1755
Organic Search       1154
Reference             534
Welingak Website      142
Referral Sites        125
Facebook               55
Unknown                36
bing                    6
google                  5
Click2call              4
Press_Release           2
Social Media            2
Live Chat               2
youtubechannel          1
testone                 1
Pay per Click Ads       1
welearnblog_Home        1
WeLearn                 1
blog                    1
NC_EDM                  1
Name: Lead Source, dtype: int64

In [66]:
# Google Small and google should be same.
leads_df['Lead Source'].replace('google','Google',inplace=True)
leads_df['Lead Source'].value_counts()

Google               2873
Direct Traffic       2543
Olark Chat           1755
Organic Search       1154
Reference             534
Welingak Website      142
Referral Sites        125
Facebook               55
Unknown                36
bing                    6
Click2call              4
Press_Release           2
Social Media            2
Live Chat               2
youtubechannel          1
testone                 1
Pay per Click Ads       1
welearnblog_Home        1
WeLearn                 1
blog                    1
NC_EDM                  1
Name: Lead Source, dtype: int64

In [77]:
# Replacing All Entries below 10 to single group other.
leads_df['Lead Source'].replace(['bing','Click2call','Press_Release','Social Media','Live Chat'
                                 ,'youtubechannel','testone','Pay per Click Ads','welearnblog_Home'
                                 ,'WeLearn','blog','NC_EDM'],'Other',inplace=True)
leads_df['Lead Source'].value_counts()

Google              2873
Direct Traffic      2543
Olark Chat          1755
Organic Search      1154
Reference            534
Welingak Website     142
Referral Sites       125
Facebook              55
Unknown               36
Other                 23
Name: Lead Source, dtype: int64

In [79]:
leads_df.isnull().sum()

Lead Number                                         0
Lead Origin                                         0
Lead Source                                         0
Do Not Email                                        0
Do Not Call                                         0
Converted                                           0
TotalVisits                                       137
Total Time Spent on Website                         0
Page Views Per Visit                              137
Last Activity                                     103
Country                                          2461
Specialization                                   1438
How did you hear about X Education               2207
What is your current occupation                  2690
What matters most to you in choosing a course    2709
Search                                              0
Magazine                                            0
Newspaper Article                                   0
X Education Forums                                  0
Newspaper                                           0
Digital Advertisement                               0
Through Recommendations                             0
Receive More Updates About Our Courses              0
Tags                                             3353
Lead Quality                                     4767
Update me on Supply Chain Content                   0
Get updates on DM Content                           0
Lead Profile                                     2709
City                                             1420
Asymmetrique Activity Index                      4218
Asymmetrique Profile Index                       4218
Asymmetrique Activity Score                      4218
Asymmetrique Profile Score                       4218
I agree to pay the amount through cheque            0
A free copy of Mastering The Interview              0
Last Notable Activity                               0
dtype: int64

In [90]:
visitnull = leads_df[leads_df.TotalVisits.isnull()]['Lead Number'].values
viewnull = leads_df[leads_df['Page Views Per Visit'].isnull()]['Lead Number'].values

In [96]:
for x in visitnull:
    if x not in viewnull:
        print (x)
else:
    print ("All entries are same")

All entries are same

In [101]:
for x in visitnull:
    print (leads_df[leads_df['Lead Number']==x]['Total Time Spent on Website'])
    
# All have entries where they have spent time on website
# Their presence on website has been captured in Time spent on website.
# This seems to be missing data.

77    1096
Name: Total Time Spent on Website, dtype: int64
79    705
Name: Total Time Spent on Website, dtype: int64
81    346
Name: Total Time Spent on Website, dtype: int64
88    1007
Name: Total Time Spent on Website, dtype: int64
120    1111
Name: Total Time Spent on Website, dtype: int64
133    986
Name: Total Time Spent on Website, dtype: int64
134    889
Name: Total Time Spent on Website, dtype: int64
177    1240
Name: Total Time Spent on Website, dtype: int64
179    458
Name: Total Time Spent on Website, dtype: int64
180    1060
Name: Total Time Spent on Website, dtype: int64
195    785
Name: Total Time Spent on Website, dtype: int64
212    1070
Name: Total Time Spent on Website, dtype: int64
267    1704
Name: Total Time Spent on Website, dtype: int64
269    1262
Name: Total Time Spent on Website, dtype: int64
299    803
Name: Total Time Spent on Website, dtype: int64
348    43
Name: Total Time Spent on Website, dtype: int64
364    972
Name: Total Time Spent on Website, dtype: int64
369    781
Name: Total Time Spent on Website, dtype: int64
470    205
Name: Total Time Spent on Website, dtype: int64
585    844
Name: Total Time Spent on Website, dtype: int64
587    11
Name: Total Time Spent on Website, dtype: int64
589    131
Name: Total Time Spent on Website, dtype: int64
590    129
Name: Total Time Spent on Website, dtype: int64
591    19
Name: Total Time Spent on Website, dtype: int64
592    1517
Name: Total Time Spent on Website, dtype: int64
593    32
Name: Total Time Spent on Website, dtype: int64
596    1608
Name: Total Time Spent on Website, dtype: int64
597    103
Name: Total Time Spent on Website, dtype: int64
598    1012
Name: Total Time Spent on Website, dtype: int64
601    345
Name: Total Time Spent on Website, dtype: int64
603    97
Name: Total Time Spent on Website, dtype: int64
631    1743
Name: Total Time Spent on Website, dtype: int64
639    1952
Name: Total Time Spent on Website, dtype: int64
657    417
Name: Total Time Spent on Website, dtype: int64
672    463
Name: Total Time Spent on Website, dtype: int64
680    177
Name: Total Time Spent on Website, dtype: int64
836    1378
Name: Total Time Spent on Website, dtype: int64
949    1186
Name: Total Time Spent on Website, dtype: int64
994    1212
Name: Total Time Spent on Website, dtype: int64
1099    158
Name: Total Time Spent on Website, dtype: int64
1123    93
Name: Total Time Spent on Website, dtype: int64
1124    270
Name: Total Time Spent on Website, dtype: int64
1126    214
Name: Total Time Spent on Website, dtype: int64
1127    342
Name: Total Time Spent on Website, dtype: int64
1130    1454
Name: Total Time Spent on Website, dtype: int64
1131    256
Name: Total Time Spent on Website, dtype: int64
1136    238
Name: Total Time Spent on Website, dtype: int64
1137    300
Name: Total Time Spent on Website, dtype: int64
1139    1542
Name: Total Time Spent on Website, dtype: int64
1143    574
Name: Total Time Spent on Website, dtype: int64
1145    1724
Name: Total Time Spent on Website, dtype: int64
1249    1252
Name: Total Time Spent on Website, dtype: int64
1258    74
Name: Total Time Spent on Website, dtype: int64
1393    429
Name: Total Time Spent on Website, dtype: int64
1395    186
Name: Total Time Spent on Website, dtype: int64
1548    1835
Name: Total Time Spent on Website, dtype: int64
1574    759
Name: Total Time Spent on Website, dtype: int64
1634    289
Name: Total Time Spent on Website, dtype: int64
2001    1212
Name: Total Time Spent on Website, dtype: int64
2070    1129
Name: Total Time Spent on Website, dtype: int64
2130    1413
Name: Total Time Spent on Website, dtype: int64
2134    1261
Name: Total Time Spent on Website, dtype: int64
2145    1606
Name: Total Time Spent on Website, dtype: int64
2536    827
Name: Total Time Spent on Website, dtype: int64
2601    2217
Name: Total Time Spent on Website, dtype: int64
2656    1721
Name: Total Time Spent on Website, dtype: int64
2660    28
Name: Total Time Spent on Website, dtype: int64
2786    1010
Name: Total Time Spent on Website, dtype: int64
2921    1055
Name: Total Time Spent on Website, dtype: int64
2924    521
Name: Total Time Spent on Website, dtype: int64
2925    1182
Name: Total Time Spent on Website, dtype: int64
2942    109
Name: Total Time Spent on Website, dtype: int64
2976    532
Name: Total Time Spent on Website, dtype: int64
3032    1995
Name: Total Time Spent on Website, dtype: int64
3064    278
Name: Total Time Spent on Website, dtype: int64
3168    1113
Name: Total Time Spent on Website, dtype: int64
3312    1057
Name: Total Time Spent on Website, dtype: int64
3424    1540
Name: Total Time Spent on Website, dtype: int64
3428    1447
Name: Total Time Spent on Website, dtype: int64
3478    1687
Name: Total Time Spent on Website, dtype: int64
3555    636
Name: Total Time Spent on Website, dtype: int64
3615    1131
Name: Total Time Spent on Website, dtype: int64
3928    44
Name: Total Time Spent on Website, dtype: int64
4244    1427
Name: Total Time Spent on Website, dtype: int64
4443    1010
Name: Total Time Spent on Website, dtype: int64
4480    1620
Name: Total Time Spent on Website, dtype: int64
4605    156
Name: Total Time Spent on Website, dtype: int64
4900    1672
Name: Total Time Spent on Website, dtype: int64
4902    1464
Name: Total Time Spent on Website, dtype: int64
5062    1168
Name: Total Time Spent on Website, dtype: int64
5183    992
Name: Total Time Spent on Website, dtype: int64
5418    940
Name: Total Time Spent on Website, dtype: int64
5505    1445
Name: Total Time Spent on Website, dtype: int64
5632    301
Name: Total Time Spent on Website, dtype: int64
5832    373
Name: Total Time Spent on Website, dtype: int64
5840    506
Name: Total Time Spent on Website, dtype: int64
5856    304
Name: Total Time Spent on Website, dtype: int64
5911    182
Name: Total Time Spent on Website, dtype: int64
5921    1385
Name: Total Time Spent on Website, dtype: int64
5942    1024
Name: Total Time Spent on Website, dtype: int64
6012    31
Name: Total Time Spent on Website, dtype: int64
6119    876
Name: Total Time Spent on Website, dtype: int64
6154    1193
Name: Total Time Spent on Website, dtype: int64
6277    1127
Name: Total Time Spent on Website, dtype: int64
6362    1476
Name: Total Time Spent on Website, dtype: int64
6380    1636
Name: Total Time Spent on Website, dtype: int64
6383    1660
Name: Total Time Spent on Website, dtype: int64
6434    1770
Name: Total Time Spent on Website, dtype: int64
6544    1558
Name: Total Time Spent on Website, dtype: int64
6546    417
Name: Total Time Spent on Website, dtype: int64
6556    266
Name: Total Time Spent on Website, dtype: int64
6565    1796
Name: Total Time Spent on Website, dtype: int64
6620    1463
Name: Total Time Spent on Website, dtype: int64
6709    159
Name: Total Time Spent on Website, dtype: int64
6712    2081
Name: Total Time Spent on Website, dtype: int64
6751    1313
Name: Total Time Spent on Website, dtype: int64
6810    1216
Name: Total Time Spent on Website, dtype: int64
6824    266
Name: Total Time Spent on Website, dtype: int64
6982    365
Name: Total Time Spent on Website, dtype: int64
7302    926
Name: Total Time Spent on Website, dtype: int64
7579    1357
Name: Total Time Spent on Website, dtype: int64
7691    1427
Name: Total Time Spent on Website, dtype: int64
7847    289
Name: Total Time Spent on Website, dtype: int64
7848    1469
Name: Total Time Spent on Website, dtype: int64
8042    347
Name: Total Time Spent on Website, dtype: int64
8054    123
Name: Total Time Spent on Website, dtype: int64
8057    711
Name: Total Time Spent on Website, dtype: int64
8063    1208
Name: Total Time Spent on Website, dtype: int64
8069    1028
Name: Total Time Spent on Website, dtype: int64
8071    341
Name: Total Time Spent on Website, dtype: int64
8074    1650
Name: Total Time Spent on Website, dtype: int64
8081    1203
Name: Total Time Spent on Website, dtype: int64
8097    1201
Name: Total Time Spent on Website, dtype: int64
8107    903
Name: Total Time Spent on Website, dtype: int64
8434    1458
Name: Total Time Spent on Website, dtype: int64
9015    1159
Name: Total Time Spent on Website, dtype: int64
9087    1525
Name: Total Time Spent on Website, dtype: int64

In [102]:
leads_df['Last Activity'].value_counts()

Email Opened                    3437
SMS Sent                        2745
Olark Chat Conversation          973
Page Visited on Website          640
Converted to Lead                428
Email Bounced                    326
Email Link Clicked               267
Form Submitted on Website        116
Unreachable                       93
Unsubscribed                      61
Had a Phone Conversation          30
Approached upfront                 9
View in browser link Clicked       6
Email Received                     2
Email Marked Spam                  2
Visited Booth in Tradeshow         1
Resubscribed to emails             1
Name: Last Activity, dtype: int64

In [105]:
leads_df[leads_df['Last Activity'].isnull()].Converted.mean()
#78% Conversion means we will have to change the NA values to "No Update"

0.7864077669902912

In [106]:
leads_df['Last Activity'].replace(np.nan,'No Update',inplace=True)
leads_df['Last Activity'].value_counts()

Email Opened                    3437
SMS Sent                        2745
Olark Chat Conversation          973
Page Visited on Website          640
Converted to Lead                428
Email Bounced                    326
Email Link Clicked               267
Form Submitted on Website        116
No Update                        103
Unreachable                       93
Unsubscribed                      61
Had a Phone Conversation          30
Approached upfront                 9
View in browser link Clicked       6
Email Received                     2
Email Marked Spam                  2
Visited Booth in Tradeshow         1
Resubscribed to emails             1
Name: Last Activity, dtype: int64

In [111]:
leads_df['Country'].value_counts()

India                   6492
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Hong Kong                  7
Bahrain                    7
Oman                       6
France                     6
unknown                    5
South Africa               4
Nigeria                    4
Germany                    4
Kuwait                     4
Canada                     4
Sweden                     3
China                      2
Asia/Pacific Region        2
Uganda                     2
Bangladesh                 2
Italy                      2
Belgium                    2
Netherlands                2
Ghana                      2
Philippines                2
Russia                     1
Switzerland                1
Vietnam                    1
Denmark                    1
Tanzania                   1
Liberia                    1
Malaysia                   1
Kenya                      1
Sri Lanka                  1
Indonesia                  1
Name: Country, dtype: int64

In [112]:
print (leads_df[leads_df['Country']=='India'].Converted.mean()*100)
print (leads_df[leads_df['Country']!='India'].Converted.mean()*100)
print (leads_df[leads_df['Country'].isnull()].Converted.mean()*100)
#NaN has the highest conversion. So Changing country to Undisclosed

36.98398028342575
42.21251819505095
43.722064201544086

In [113]:
leads_df['Country'].replace(np.nan,'Undisclosed',inplace=True)
leads_df['Country'].value_counts()

India                   6492
Undisclosed             2461
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Bahrain                    7
Hong Kong                  7
Oman                       6
France                     6
unknown                    5
Kuwait                     4
South Africa               4
Canada                     4
Nigeria                    4
Germany                    4
Sweden                     3
Philippines                2
Uganda                     2
Italy                      2
Bangladesh                 2
Netherlands                2
Asia/Pacific Region        2
China                      2
Belgium                    2
Ghana                      2
Kenya                      1
Sri Lanka                  1
Tanzania                   1
Malaysia                   1
Liberia                    1
Switzerland                1
Denmark                    1
Russia                     1
Vietnam                    1
Indonesia                  1
Name: Country, dtype: int64

In [110]:
leads_df[leads_df['Country'].isnull()].Converted.mean()

0.43722064201544086

In [114]:
leads_df.isnull().sum()

Lead Number                                         0
Lead Origin                                         0
Lead Source                                         0
Do Not Email                                        0
Do Not Call                                         0
Converted                                           0
TotalVisits                                       137
Total Time Spent on Website                         0
Page Views Per Visit                              137
Last Activity                                       0
Country                                             0
Specialization                                   1438
How did you hear about X Education               2207
What is your current occupation                  2690
What matters most to you in choosing a course    2709
Search                                              0
Magazine                                            0
Newspaper Article                                   0
X Education Forums                                  0
Newspaper                                           0
Digital Advertisement                               0
Through Recommendations                             0
Receive More Updates About Our Courses              0
Tags                                             3353
Lead Quality                                     4767
Update me on Supply Chain Content                   0
Get updates on DM Content                           0
Lead Profile                                     2709
City                                             1420
Asymmetrique Activity Index                      4218
Asymmetrique Profile Index                       4218
Asymmetrique Activity Score                      4218
Asymmetrique Profile Score                       4218
I agree to pay the amount through cheque            0
A free copy of Mastering The Interview              0
Last Notable Activity                               0
dtype: int64

In [117]:
leads_df.Specialization.value_counts()

Select                               1942
Finance Management                    976
Human Resource Management             848
Marketing Management                  838
Operations Management                 503
Business Administration               403
IT Projects Management                366
Supply Chain Management               349
Banking, Investment And Insurance     338
Travel and Tourism                    203
Media and Advertising                 203
International Business                178
Healthcare Management                 159
Hospitality Management                114
E-COMMERCE                            112
Retail Management                     100
Rural and Agribusiness                 73
E-Business                             57
Services Excellence                    40
Name: Specialization, dtype: int64

In [123]:
leads_df[leads_df.Specialization.isnull()]['What is your current occupation'].value_counts()

Student                 13
Working Professional     4
Businessman              1
Name: What is your current occupation, dtype: int64

In [125]:
print (leads_df[leads_df.Specialization=='Select'].Converted.mean()*100)
print (leads_df[leads_df.Specialization!='Select'].Converted.mean()*100)
print (leads_df[leads_df.Specialization.isnull()].Converted.mean()*100)
# Select which is basically undisclosed has highest conversion so cannot be cludded with NaN

42.12152420185376
37.58563990134283
10.500695410292073

In [126]:
# Mostly Unemployed have not selected a specialisation
leads_df[leads_df.Specialization=='Select']['What is your current occupation'].value_counts()

Unemployed              1828
Student                   72
Working Professional      27
Other                      1
Businessman                1
Name: What is your current occupation, dtype: int64

In [128]:
# Only 13 Null Values in the occupation of the 
leads_df[leads_df.Specialization=='Select']['What is your current occupation'].isnull().sum()

13

In [131]:
leads_df[leads_df.Specialization.isnull()]['Lead Origin'].value_counts()

API                        1378
Landing Page Submission      51
Lead Import                   9
Name: Lead Origin, dtype: int64

In [133]:
leads_df[leads_df.Specialization=='Select']['Lead Origin'].value_counts()

API                        1537
Lead Add Form               301
Landing Page Submission      74
Lead Import                  30
Name: Lead Origin, dtype: int64

In [132]:
leads_df[leads_df.Specialization.isnull()]['Lead Source'].value_counts()

Olark Chat        837
Google            354
Organic Search    119
Direct Traffic     75
Referral Sites     41
Facebook            9
Other               3
Name: Lead Source, dtype: int64

In [134]:
leads_df[leads_df.Specialization=='Select']['Lead Source'].value_counts()

Olark Chat          676
Google              550
Organic Search      248
Reference           144
Welingak Website    127
Direct Traffic       87
Referral Sites       49
Facebook             30
Unknown              28
Other                 3
Name: Lead Source, dtype: int64

In [138]:
leads_df['Specialization'].replace('Select','Undisclosed',inplace=True)
leads_df['Specialization'].replace(np.nan,'Undisclosed',inplace=True)
leads_df['Specialization'].value_counts()

Undisclosed                          1942
No Information                       1438
Finance Management                    976
Human Resource Management             848
Marketing Management                  838
Operations Management                 503
Business Administration               403
IT Projects Management                366
Supply Chain Management               349
Banking, Investment And Insurance     338
Travel and Tourism                    203
Media and Advertising                 203
International Business                178
Healthcare Management                 159
Hospitality Management                114
E-COMMERCE                            112
Retail Management                     100
Rural and Agribusiness                 73
E-Business                             57
Services Excellence                    40
Name: Specialization, dtype: int64

In [136]:
leads_df.isnull().sum()

Lead Number                                         0
Lead Origin                                         0
Lead Source                                         0
Do Not Email                                        0
Do Not Call                                         0
Converted                                           0
TotalVisits                                       137
Total Time Spent on Website                         0
Page Views Per Visit                              137
Last Activity                                       0
Country                                             0
Specialization                                      0
How did you hear about X Education               2207
What is your current occupation                  2690
What matters most to you in choosing a course    2709
Search                                              0
Magazine                                            0
Newspaper Article                                   0
X Education Forums                                  0
Newspaper                                           0
Digital Advertisement                               0
Through Recommendations                             0
Receive More Updates About Our Courses              0
Tags                                             3353
Lead Quality                                     4767
Update me on Supply Chain Content                   0
Get updates on DM Content                           0
Lead Profile                                     2709
City                                             1420
Asymmetrique Activity Index                      4218
Asymmetrique Profile Index                       4218
Asymmetrique Activity Score                      4218
Asymmetrique Profile Score                       4218
I agree to pay the amount through cheque            0
A free copy of Mastering The Interview              0
Last Notable Activity                               0
dtype: int64

In [137]:
leads_df['How did you hear about X Education'].value_counts()

Select                   5043
Online Search             808
Word Of Mouth             348
Student of SomeSchool     310
Other                     186
Multiple Sources          152
Advertisements             70
Social Media               67
Email                      26
SMS                        23
Name: How did you hear about X Education, dtype: int64

In [139]:
leads_df['How did you hear about X Education'].replace('Select','Undisclosed',inplace=True)
leads_df['How did you hear about X Education'].replace(np.nan,'Undisclosed',inplace=True)
leads_df['How did you hear about X Education'].value_counts()

Undisclosed              7250
Online Search             808
Word Of Mouth             348
Student of SomeSchool     310
Other                     186
Multiple Sources          152
Advertisements             70
Social Media               67
Email                      26
SMS                        23
Name: How did you hear about X Education, dtype: int64

In [140]:
leads_df['What is your current occupation'].value_counts()

Unemployed              5600
Working Professional     706
Student                  210
Other                     16
Housewife                 10
Businessman                8
Name: What is your current occupation, dtype: int64

In [141]:
leads_df['What is your current occupation'].replace(np.nan,'Undisclosed',inplace=True)
leads_df['What is your current occupation'].value_counts()

Unemployed              5600
Undisclosed             2690
Working Professional     706
Student                  210
Other                     16
Housewife                 10
Businessman                8
Name: What is your current occupation, dtype: int64

In [142]:
leads_df['What matters most to you in choosing a course'].value_counts()

Better Career Prospects      6528
Flexibility & Convenience       2
Other                           1
Name: What matters most to you in choosing a course, dtype: int64

In [143]:
leads_df['What matters most to you in choosing a course'].replace(np.nan,'Undisclosed',inplace=True)
leads_df['What matters most to you in choosing a course'].value_counts()

Better Career Prospects      6528
Undisclosed                  2709
Flexibility & Convenience       2
Other                           1
Name: What matters most to you in choosing a course, dtype: int64

In [146]:
leads_df.Tags.value_counts()

Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Still Thinking                                          6
Want to take admission but has financial problems       6
In confusion whether part time or DLP                   5
Interested in Next batch                                5
Lateral student                                         3
Shall take in the next coming month                     2
University not recognized                               2
Recognition issue (DEC approval)                        1
Name: Tags, dtype: int64

In [151]:
leads_df['Tags'].replace(np.nan,'No Update',inplace=True)
leads_df['Tags'].value_counts()

No Update                                            3353
Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Still Thinking                                          6
Want to take admission but has financial problems       6
In confusion whether part time or DLP                   5
Interested in Next batch                                5
Lateral student                                         3
Shall take in the next coming month                     2
University not recognized                               2
Recognition issue (DEC approval)                        1
Name: Tags, dtype: int64

In [148]:
leads_df[leads_df['Lead Quality'].isnull()].Converted.mean()

0.21481015313614432

In [149]:
leads_df[-leads_df['Lead Quality'].isnull()].Converted.mean()

0.5671808629555108

In [150]:
leads_df['Lead Quality'].replace(np.nan,'No Update',inplace=True)
leads_df['Lead Quality'].value_counts()

No Update            4767
Might be             1560
Not Sure             1092
High in Relevance     637
Worst                 601
Low in Relevance      583
Name: Lead Quality, dtype: int64

In [152]:
leads_df.isnull().sum()

Lead Number                                         0
Lead Origin                                         0
Lead Source                                         0
Do Not Email                                        0
Do Not Call                                         0
Converted                                           0
TotalVisits                                       137
Total Time Spent on Website                         0
Page Views Per Visit                              137
Last Activity                                       0
Country                                             0
Specialization                                      0
How did you hear about X Education                  0
What is your current occupation                     0
What matters most to you in choosing a course       0
Search                                              0
Magazine                                            0
Newspaper Article                                   0
X Education Forums                                  0
Newspaper                                           0
Digital Advertisement                               0
Through Recommendations                             0
Receive More Updates About Our Courses              0
Tags                                                0
Lead Quality                                        0
Update me on Supply Chain Content                   0
Get updates on DM Content                           0
Lead Profile                                     2709
City                                             1420
Asymmetrique Activity Index                      4218
Asymmetrique Profile Index                       4218
Asymmetrique Activity Score                      4218
Asymmetrique Profile Score                       4218
I agree to pay the amount through cheque            0
A free copy of Mastering The Interview              0
Last Notable Activity                               0
dtype: int64

In [153]:
leads_df['Lead Profile'].value_counts()

Select                         4146
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: Lead Profile, dtype: int64

In [154]:
leads_df['Lead Profile'].replace('Select','No Update',inplace=True)
leads_df['Lead Profile'].replace(np.nan,'No Update',inplace=True)
leads_df['Lead Profile'].value_counts()

No Update                      6855
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: Lead Profile, dtype: int64

In [155]:
leads_df.City.value_counts()

Mumbai                         3222
Select                         2249
Thane & Outskirts               752
Other Cities                    686
Other Cities of Maharashtra     457
Other Metro Cities              380
Tier II Cities                   74
Name: City, dtype: int64

In [156]:
leads_df['City'].replace('Select','Undisclosed',inplace=True)
leads_df['City'].replace(np.nan,'Undisclosed',inplace=True)
leads_df['City'].value_counts()

Undisclosed                    3669
Mumbai                         3222
Thane & Outskirts               752
Other Cities                    686
Other Cities of Maharashtra     457
Other Metro Cities              380
Tier II Cities                   74
Name: City, dtype: int64

In [157]:
leads_df['Asymmetrique Activity Index'].value_counts()

02.Medium    3839
01.High       821
03.Low        362
Name: Asymmetrique Activity Index, dtype: int64

In [159]:
leads_df['Asymmetrique Profile Index'].value_counts()

02.Medium    2788
01.High      2203
03.Low         31
Name: Asymmetrique Profile Index, dtype: int64

In [160]:
leads_df['Asymmetrique Activity Score'].value_counts()

14.0    1771
15.0    1293
13.0     775
16.0     467
17.0     349
12.0     196
11.0      95
10.0      57
9.0        9
18.0       5
8.0        4
7.0        1
Name: Asymmetrique Activity Score, dtype: int64

In [161]:
leads_df['Asymmetrique Profile Score'].value_counts()

15.0    1759
18.0    1071
16.0     599
17.0     579
20.0     308
19.0     245
14.0     226
13.0     204
12.0      22
11.0       9
Name: Asymmetrique Profile Score, dtype: int64